body {
    background-color: powderblue;
    font-family: Arial;
}

#shipbase{
    width: 600px;
    height: 200px;
}

#shipbase {
    background-color: red;
}

#shipdest {
    background-color: green;
}

.ship {
    background-color: black;
    color: white;
}

.board-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 300px;
    height: 300px;
}

.fields {
    background-color: #4CAF50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
